*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none{
    display: none;
}
.clear{
    clear: both;
}
.alarmParameters{
    width: 100%;
    height: calc(100% - 50px);
}

/* 左 */
.alarmParameters_left{
    display: inline-block;
    width: 450px;
    height: 100%;
    vertical-align: top;
    overflow-y: scroll;
    border: 1px solid #D6D2CE;
}

/* 右 */
.alarmParameters_right{
    display: inline-block;
    width: calc(100% - 454px);
    height: 100%;
}
.tabs {
    margin-top: 2px;
    background-color: #D6D2CE;
    border: 1px solid #D6D2CE;
    border-bottom: none;
}
.tabs span {
    display: inline-block;
    padding: 3px 20px;
    cursor: pointer;
}
.tabs span.active {
    background-color: #EFEBE7;
}
.tabs-content {
    padding: 10px 2px;
    border: 1px solid #D6D2CE;
    height: calc(100% - 29px);
    border-top: none;
    position: relative;
    display: none;
    overflow: scroll;
}
.tabs-content.active {
    display: block;
}


.alarmParameters_right .tabs-content .inp-box {
    width: 100%;
    padding: 15px;
    border: 1px solid #D6D2CE;
    position: relative;
    margin-bottom: 30px;
}
.alarmParameters_right .tabs-content p{
    position: absolute;
    color: black;
    background: #efebe7;
    top: -10px;
    left: 5px;
}
.alarmParameters_right .tabs-content label{
    margin-right: 5px;
    width: 85px;
    text-align: right;
    display: inline-block;
}
.alarmParameters_right .tabs-content input,
.alarmParameters_right .tabs-content select{
    height: 25px;
    width: 200px;
    background-color: #fff;
}
.alarmParameters_right .tabs-content .inp-box div {
    margin: 5px 0;
}