section .sec .sec-container {
    max-width: 400px;
    max-height: 365px;
}
section .sec-container .op-face {
    padding: 22px;
    color: #333;
}
section .op-face .inp-box {
    padding:  5px 4px 5px 4px;
    border: 1px solid #D6D2CE;
    border-radius: 4px;
}
section .op-face .inp-box label {
    width: 25%;
    text-align: right;
    display: inline-block;
}
section .op-face .inp-box input {
    margin: 20px 0;
    width: 65%;
}