*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tableDiv{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.tableDiv .table-border-top{
    width: 100%;
    padding: 3px 8px;
}
.tableDiv .table-border-top-img{
    display: inline-block;
}
.tableDiv .table-border-top p{
    color: white;
    display: inline-block;
    font-size: 12px;
}

.tableDiv .tableDiv-content{
    width: calc(100% - 254px);
    display: inline-block;
    overflow-y: scroll;
    height: calc(100% - 29px);
    border: 1px solid #d6d2ce;
}
.tableDiv .tableDiv-content table{
    width: 100%;
    min-width: 960px;
}
.tableDiv .tableDiv-content table tr th{
    border: 1px solid #858586;
    margin: 0;
}
.tableDiv .tableDiv-right{
    padding: 2px;
    border: 1px solid #d6d2ce;
    height: calc(100% - 29px);
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

.tableDiv .tableDiv-right ul{
    width: 100%;
}
.tableDiv .tableDiv-right ul li{
   
    text-align: center;
    width: 100%;
}
.tableDiv .tableDiv-right ul li button{
    width: 100%;
    box-shadow: 1px 1px 1px #868686;
    margin-bottom:3px;
    padding: 2px 0;
}
.tableDiv .tableDiv-right .tableDiv-right-pox{
    width: 100%;
}
.tableDiv .tableDiv-right .tableDiv-right-pox p {
    color: #333;
}
.tableDiv .tableDiv-right .tableDiv-right-pox input:last-child{
    width: 22%;
}

.tableDiv .tableDiv-bottom{
    width: 100%;
}
.tableDiv .tableDiv-bottom ul li{
    list-style: none;
    display: inline-block;
    border: 1px solid #A8A8A8;
    box-shadow: 1px 1px 1px #A8A8A8;
    padding: 1px 4px;
}
.tableDiv .tableDiv-bottom ul li:nth-child(2n){
    box-shadow: 1px 1px 1px #A8A8A8 inset;
}
.tableDiv .tableDiv-bottom ul li:last-child{
    width: 18%;
}
