*
{
	margin:0;
	padding:0;
}

body { background-color: #2D2D2D; color: #D5D6E2; font-weight: 500; font-size: 1.05em; font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif; }
a { color: rgba(255, 255, 255, 0.6); outline: none; text-decoration: none; -webkit-transition: 0.2s; transition: 0.2s; }
a:hover, a:focus { color: #74777b; text-decoration: none; }

.jq22-content {
	 padding: 1em;
	 text-align: center;
	 display: -webkit-box;
	 -webkit-box-align: center;
	 -webkit-box-orient: vertical;
	 -webkit-box-pack: center;
	 height: 92%;
}
