.table-container {
    height: calc(100% - 50px);
}
.left-content,
.right-content {
    border: 1px solid #d6d2ce;
    padding: 2px;
    float: left;
    height: 100%;
}
.left-content {
    width: 330px;
}
.right-content {
    margin-left: 2px;
    width: calc(100% - 332px);
}
.left-content .top-content,
.left-content .bottom-content {
    border: 1px solid #d6d2ce;
    width: 100%;
}
.left-content .top-content {
    height: calc(100% - 86px);
    overflow: scroll;
}
.left-content .top-content .opBtn {
    border: 1px solid #d6d2ce;
    color: #333;
    background-color: #fff;
    height: 18px;
    width: 18px;
}
.left-content .top-content ul.fir,
.left-content .top-content ul.sed {
    padding-left: 25px;
    white-space : nowrap 
}
.left-content .top-content span {
    padding-left: 20px;
}
.left-content .top-content .thr span.active {
    background-color: #99B4D1;
}

.left-content .bottom-content {
    margin-top: 2px;
    overflow-x: scroll;
}
.left-content .bottom-content table {
    min-width: 322px;
}
.left-content .bottom-content table tr:hover{
    background-color: transparent;
}

.tabs {
    margin-top: 2px;
    background-color: #D6D2CE;
    border: 1px solid #D6D2CE;
    border-bottom: none;
}
.tabs span {
    display: inline-block;
    padding: 3px 20px;
    cursor: pointer;
}
.tabs span.active {
    background-color: #EFEBE7;
}
.tabs-content {
    padding: 2px;
    border: 1px solid #D6D2CE;
    height: calc(100% - 30px);
    border-top: none;
    position: relative;
    display: none;
    overflow: scroll;
}
.tabs-content.active {
    display: block;
}
.subBtn .selBtn {
    display: none;
}
.subBtn .selBtn.active {
    display: block;
}
.right-content .inp-box {
    margin-top: 10px;
    border: 1px solid #d6d2ce;
    position: relative;
    padding: 10px 15px 0;
    min-width: 792px;
}
.right-content .inp-box p {
    position: absolute;
    top: -10px;
    background-color: #efebe7;
    color: #333;
    left: 5px;
}
.right-content .inp-box div {
    margin: 10px 0;
    overflow: hidden;
}
.right-content .inp-box label {
    width: 110px;
    text-align: right;
    display: inline-block;
}
.right-content .inp-box input,
.right-content .inp-box select {
    height: 25px;
    background-color: #fff;
    width: 180px;
}
.right-content .inp-box div.left,
.right-content .inp-box div.right {
    margin: 0;
    float: left;
    width: 380px;
}
.right-content .inp-box div.right {
    padding: 5px;
    border: 1px solid #D6D2CE;
}
.right-content .inp-box input[type=checkbox] {
    height: auto;
    width: auto;
    margin-left: 54px;
}
.right-content .inp-box input[type=checkbox] + label {
    width: auto;
    text-align: left;
}

.extendedFunction > div {
    margin: 10px;
}
.extendedFunction > div p {
    color: red;
}
.extendedFunction > div.big {
    border: 1px solid #D6D2CE;
    padding: 5px 10px;
    width: 300px;
}
.extendedFunction > div input[type=number] {
    height: 25px;
}
.extendedFunction > div.big input {
    margin: 5px 0;
}

.doorStatusPlan table {
    text-align: center;
    min-width: 647px;
}
.doorStatusPlan table tr:hover {
    background-color: transparent;
}
.doorStatusPlan table tbody tr td:nth-child(5),
.doorStatusPlan table tbody tr td:nth-child(4) {
    background-color: #A6CAF0;
}
.doorStatusPlan table tbody tr td:nth-child(6),
.doorStatusPlan table tbody tr td:nth-child(7),
.doorStatusPlan table tbody tr td:nth-child(8),
.doorStatusPlan table tbody tr td:nth-child(9),
.doorStatusPlan table tbody tr td:nth-child(10),
.doorStatusPlan table tbody tr td:nth-child(11),
.doorStatusPlan table tbody tr td:nth-child(12) {
    background-color: #00FFFF;
}
.doorStatusPlan table tbody tr td:nth-child(13),
.doorStatusPlan table tbody tr td:nth-child(14),
.doorStatusPlan table tbody tr td:nth-child(15),
.doorStatusPlan table tbody tr td:nth-child(16),
.doorStatusPlan table tbody tr td:nth-child(17),
.doorStatusPlan table tbody tr td:nth-child(18),
.doorStatusPlan table tbody tr td:nth-child(19) {
    background-color: #FFFFE1;
}

.mask .mask-container {
    width: 100%;
    height: 100%;
}