.eventMonitoring {
    width: 100%;
    height: 100%;
}

.tabs {
    margin-top: 2px;
    background-color: #D6D2CE;
    border: 1px solid #D6D2CE;
    border-bottom: none;
}

.tabs span {
    display: inline-block;
    padding: 3px 20px;
    cursor: pointer;
}

.tabs span.active {
    background-color: #EFEBE7;
}

.tabs-content {
    padding: 2px;
    border: 1px solid #D6D2CE;
    border-top: none;
    position: relative;
    display: none;
}

.tabs-content.active {
    display: block;
}

table tr td span {
    margin-right: 10px;
}

.table-container {
    overflow-y: scroll;
}

.fixed-bottom {
    table-layout: fixed;
}

/* 有效刷卡事件 */
.effectiveCreditCardIncident.tabs-content {
    height: calc(100% - 67px);
}

.effectiveCreditCardIncident .table-container {
    height: calc(100% - 31px);
}

/* 无效刷卡板块css */
.invalidCreditCardIncident.tabs-content {
    height: calc(100% - 67px);
}
.invalidCreditCardIncident .table-container  {
    height: calc(100% - 60px);
}

.invalidCreditCardIncident .table-container  table tr td:nth-child(10) {
    background: red;
}

.invalidCreditCardIncident .invalidCreditCardIncident_bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.invalidCreditCardIncident .invalidCreditCardIncident_bottom .invalidCreditCardIncident_bottom_number {
    width: 100%;
    padding: 5px 0;
}

.invalidCreditCardIncident .invalidCreditCardIncident_bottom .invalidCreditCardIncident_bottom_number p {
    display: inline-block;
    color: black;
    margin-right: 20%;
}

.invalidCreditCardIncident .invalidCreditCardIncident_bottom .invalidCreditCardIncident_bottom_input {
    padding: 5px 0;
}

.invalidCreditCardIncident .invalidCreditCardIncident_bottom .invalidCreditCardIncident_bottom_number {
    border: 1px solid #868686;
}

/* 门状态改变 */
.doorStatusChange.tabs-content {
    height: calc(100% - 67px);
}
.doorStatusChange .table-container {
    height: calc(100% - 31px);
    overflow-y: scroll;
}

.doorStatusChange .table-container table {
    width: 100%;
}

.doorStatusChange .doorStatusChange_bottom p {
    display: inline;
    margin-right: 15%;
    color: black;
}

.doorStatusChange .doorStatusChange_bottom .doorStatusChange_bottom_number {
    border: 1px solid #868686;
}

/* 报警事件板块 */
.alarmEvent.tabs-content {
    height: calc(100% - 67px);
}
.alarmEvent .table-container {
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.alarmEvent .table-container table {
    width: 100%;
}

.alarmEvent .table-container table td:nth-child(6) {
    color: red;
    font-weight: 600;
}

.alarmEvent .alarmEvent_bottom p {
    display: inline;
    margin-right: 15%;
    color: black;
}
.alarmEvent .alarmEvent_bottom .alarmEvent_bottom_number {
    border: 1px solid #868686;
}

.alarmEvent .alarmEvent_bottom .alarmEvent_bottom_input {
    margin: 5px 0;
}

/* 实时进出人员板块 */
.realTimeEntryAndExitPersonnel.tabs-content {
    height: calc(100% - 67px);
}
.realTimeEntryAndExitPersonnel .realTimeEntryAndExitPersonnel_content {
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    text-align: center;
}

.realTimeEntryAndExitPersonnel .realTimeEntryAndExitPersonnel_content ul {
    height: 80%;
}

.realTimeEntryAndExitPersonnel .realTimeEntryAndExitPersonnel_content ul li {
    display: inline-block;
    width: 15%;
    height: 100%;
}

.realTimeEntryAndExitPersonnel .realTimeEntryAndExitPersonnel_content ul li > div {
    margin: 2px 0;
    border: 1px solid #d6d2ce;
    height: 25px;
}

.realTimeEntryAndExitPersonnel .realTimeEntryAndExitPersonnel_content ul li .realTimeEntryAndExitPersonnel_content_img {
    position: relative;
    width: 100%;
    height: calc(100% - 137px);
}

.realTimeEntryAndExitPersonnel .realTimeEntryAndExitPersonnel_content .realTimeEntryAndExitPersonnel_content_img p {
    position: absolute;
    top: -10px;
    left: 5px;
    color: black;
    background: #efebe7;
}

/* 最后一人 */
.theLastGuy.tabs-content {
    height: calc(100% - 67px);
}

.theLastGuy .theLastGuy_content .theLastGuy_content_number {
    display: inline-block;
    width: 290px;
    vertical-align: top;
    padding: 5px;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_number input {
    height: 25px;
    margin-bottom: 20px;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_number label:nth-of-type(3) {
    margin-right: 26px;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_number label:nth-of-type(4) {
    margin-right: 25px;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_number label:nth-of-type(5) {
    margin-right: 25px;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_number label:nth-of-type(6) {
    margin-right: 10px;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_right {
    display: inline-block;
    width: 310px;
    vertical-align: top;

}

.theLastGuy .theLastGuy_content .theLastGuy_content_right .theLastGuy_content_img img {
    width: 100%;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_right .normal {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_right .normal div {
    background: #00ff00;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_right .abnormal {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_right .abnormal div {
    background: red;
}

.theLastGuy .theLastGuy_content .theLastGuy_content_right>div>div {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

/* 下方的事件切换栏板块  */
.eventSwitchingPanel_content {
    margin-top: 2px;
    padding: 4px;
    border: 1px solid #D6D2CE;
}

.eventSwitchingPanel_content input,
.eventSwitchingPanel_content button,
.eventSwitchingPanel_content select,
.alarmEvent .alarmEvent_bottom button  {
    width: 80px;
    height: 25px;
    border: 1px solid #D6D2CE;
    background-color: #fff;
}
.eventSwitchingPanel_content select {
    width: 150px;
}