*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.none{
    display: none;
}
.aaaa{
    cursor: pointer;
    margin-bottom: 10px;
}
.doorStatusControl{
    width: 100%;
    height: calc(100% - 48px);
}
/* 左部分 */
.doorStatusControl .doorStatusControl_left {
    margin-top: 10px;
    padding: 10px 2px;
    border: 1px solid #d6d2ce;
    width: calc(100% - 477px);
    height: calc(100% - 10px);
    display: inline-block;
    position: relative;
}
.doorStatusControl .doorStatusControl_left .doorStatusControl_left_content{
    width: 100%;
    height: calc(100% + 8px);
    overflow-y: scroll;
}
.doorStatusControl .doorStatusControl_left .doorStatusControl_left_content>div{
    width: 15px;
    height: 15px;
    border: 1px solid #868686;
    text-align: center;
    display: inline-block;
    line-height: 15px;
}
.doorStatusControl .doorStatusControl_left .doorStatusControl_left_content>img{
    display: inline-block;
    margin:  0 4px;
}
.doorStatusControl .doorStatusControl_left .doorStatusControl_left_content>p{
    display: inline-block;
    margin: 0 5px;
    color: black;
}
.doorStatusControl .doorStatusControl_left .doorStatusControl_left_content ul{
    margin-left: 15px;
}
.doorStatusControl .doorStatusControl_left .doorStatusControl_left_content>ul li div{
    width: 15px;
    height: 15px;
    border: 1px solid #868686;
    text-align: center;
    display: inline-block;
    line-height: 15px;
}
.doorStatusControl .doorStatusControl_left .doorStatusControl_left_content>ul li img{
    display: inline-block;
    margin:  0 4px;
}
.doorStatusControl .doorStatusControl_left .doorStatusControl_left_content>ul li p{
    display: inline-block;
    margin: 0 5px;
    color: black;
}
.doorStatusControl .doorStatusControl_left .doorStatusControl_left_content>ul li ul li p{
    display: inline-block;
    color: black;
}


/* 右边的div*/
.doorStatusControl .doorStatusControl_right{
    margin: 10px 0 0 2px;
    padding: 10px 2px;
    border: 1px solid #d6d2ce;
    width: 470px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    height: calc(100% - 10px);
}
.doorStatusControl .doorStatusControl_right>p,
.doorStatusControl .doorStatusControl_left > p{
    position: absolute;
    top: -10px;
    left: 5px;
    color: black;
    background: #efebe7;
}
.doorStatusControl .doorStatusControl_right input{
    margin-bottom: 20px;
    padding:5px 0;
}
.doorStatusControl .doorStatusControl_right label{
    width: 70px;
    text-align: right;
    display: inline-block;
}
.doorStatusControl .doorStatusControl_right select{
    width: 60%;
    padding: 5px 0;
    margin-bottom: 20px;
}
