* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none {
    display: none;
}

.top {
    padding: 10px 0;
    height: calc(100% - 39px);
    overflow: hidden;
}

.defined {
    padding: 10px 0;
    width: 330px;
    height: calc(100% + 9px);
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: 1px solid #D6D2CE;
}

.top .defined p,
.top .controller .controller_content p,
.controller .linkagePointsHaveBeenDefined p {
    color: #333;
    background-color: #EFEBE7;
    position: absolute;
    top: -10px;
    left: 5px;
}

.defined .definedLinkageGroup_content {
    padding-left: 20px;
    height: calc(100% - 22px);
    overflow: scroll;
}

.defined .definedLinkageGroup_content ul li {
    margin: 3px 0;
    width: 30%;
    text-align: center;
}

.defined .definedLinkageGroup_content ul li.active {
    background-color: #99B4D1;
}

.controller {
    padding: 10px 0;
    width: calc(100% - 336px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.controller .controller_content {
    border: 1px solid #D6D2CE;
    position: relative;
    height: 200px;
    padding: 10px 2px 0;
}

.controller .controller_content>ul {
    height: 100%;
    overflow-y: scroll;
}

.controller .controller_content>ul>li span {
    color: black;
    display: inline-block;
}

.controller .controller_content>ul>li div {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #868686;
    text-align: center;
    line-height: 10px;
    padding: 0 2px;
    cursor: pointer;
}

.controller .controller_content>ul>li img {
    display: inline-block;
}

.controller .controller_content>ul>li ul {
    margin-left: 35px;
}

.controller .controller_content>ul>li ul li {
    margin: 2px 0;
}

.controller .controllerRelevantPointInformation_Btn {
    margin: 2px 0;
    border: 1px solid #d6d2ce;
}

.controller .controllerRelevantPointInformation_Btn select {
    width: 200px;
    border: 1px solid #D6D2CE;
    height: 30px;
    background-color: #fff;
}

.controller .linkagePointsHaveBeenDefined {
    margin-top: 10px;
    border: 1px solid #d6d2ce;
    height: calc(100% - 236px);
    position: relative;
}

.controller .linkagePointsHaveBeenDefined span {
    color: black;
    text-indent: 10px;
    margin-bottom: 10px;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content {
    padding: 10px 2px;
    overflow: scroll;
    height: 100%;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>div {
    display: inline-block;
    border: 1px solid #868686;
    text-align: center;
    line-height: 10px;
    padding: 0 2px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    vertical-align: top;
    margin-bottom: 10px;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>img {
    vertical-align: middle;
    display: inline-block;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>span {
    display: inline-block;
    color: black;
    text-indent: 0;
    margin: 0;
    vertical-align: top;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul {
    margin-left: 20px;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li div {
    display: inline-block;
    border: 1px solid #868686;
    text-align: center;
    line-height: 10px;
    padding: 0 2px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    vertical-align: top;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li span {
    color: black;
    text-indent: 0;
    display: inline-block;
    vertical-align: top;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li img {
    display: inline-block;
    vertical-align: middle;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li ul {
    margin-left: 20px;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li ul li div {
    display: inline-block;
    border: 1px solid #868686;
    text-align: center;
    line-height: 10px;
    padding: 0 2px;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li ul li {
    display: inline-block;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li ul li span {
    display: inline-block;
    color: black;
    margin: 0;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li ul li img {
    display: inline-block;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li ul li span,
b,
img,
span {
    vertical-align: top;
}

.controller .linkagePointsHaveBeenDefined .linkagePointsHaveBeenDefined_content>ul>li ul li {
    margin-right: 80px;
}

.Btn_all {
    width: 100%;
    text-align: right;
    border: 2px solid #868686;
    margin-top: -5px;
}

.subBtn {
    margin: 0 !important;
    padding: 6px 0;
    text-align: center;
}

.Btn_all button {
    line-height: 20px;
}