* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none {
    display: none;
}

section .sec-container .op-face {
    padding: 3px 0;
}

.linkageGroupControl {
    width: 100%;
    height: calc(100% - 50px);
    padding: 2px;
    box-sizing: border-box;
}

/* 左部分 */
.linkageGroupControl_left,
.linkageGroupControl_right {
    padding: 10px 2px;
    display: inline-block;
    height: calc(100% - 7px);
    vertical-align: top;
    width: 330px;
    border: 1px solid #D6D2CE;
    position: relative;
    margin-top: 10px;
}

.linkageGroupControl_left>p,
.linkageGroupControl_right>p {
    color: black !important;
    position: absolute;
    background-color: #efebe7;
    top: -10px;
    left: 5px;
}

.linkageGroupControl_left .content {
    width: 100%;
    height: calc(100% - 23px);
    overflow: scroll;

}

.linkageGroupControl_left .content ul {
    margin-left: 15px;
}

.linkageGroupControl_left .content ul li {
    margin: 5px 0;
}

.linkageGroupControl_left .content ul li span.active {
    background-color: #99B4D1;
}

.linkageGroupControl_left>.table {
    width: 100%;
    overflow-y: auto;
    border: none;
    padding: 0;
}

/* 右部分 */
.linkageGroupControl_right {
    margin-left: 2px;
    width: calc(100% - 336px);
}

.linkageGroupControl_right .content {
    height: calc(100% + 8px);
}

/* 下方 */
.linkageGroupControl_bottom {
    width: 100%;
    border: 1px solid #D6D2CE;
}