.tabs {
    margin-top: 2px;
    background-color: #D6D2CE;
    border: 1px solid #D6D2CE;
    border-bottom: none;
}

.tabs span {
    display: inline-block;
    padding: 3px 20px;
    cursor: pointer;
}

.tabs span.active {
    background-color: #EFEBE7;
}

.tabs-content {
    padding: 2px;
    border: 1px solid #D6D2CE;
    height: calc(100% - 110px);
    border-top: none;
    position: relative;
    display: none;
}

.tabs-content.active {
    display: block;
}

.alarmParameters {
    width: 100%;
    height: calc(100% - 50px);
}

.alarmParameters_left,
.alarmParameters_right {
    display: inline-block;
    width: 450px;
    height: 100%;
    vertical-align: top;
    overflow-y: scroll;
    border: 1px solid #D6D2CE;
}


/* right content */
.alarmParameters_right {
    width: calc(100% - 454px);
}

.alarmParameters_right>ul {
    width: 100%;
}

.alarmParameters_right>ul li {
    display: inline-block;
    margin: 0 3px;
}

.alarmParameters_right .tabs-content {
    width: 100%;
    height: calc(100% - 29px);
    position: relative;
}

.alarmParameters_right .tabs-content .box_table {
    height: calc(100% - 36px);
}

.alarmParameters_right .tabs-content>p {
    color: black;
    background: #D6D2CE;
    text-align: center;
    padding: 9px 0;
}