.exhibite {
    height: calc(100% - 50px);
}
.exhibite .showR {
    width: 85%;
    height: 100%;
    float: left;
}
.exhibite .showL {
    margin-left: 0.5%;
    width: 14.5%;
    height: 100%;
    float: left;
    border: 1px solid #D6D2CE;
}
.exhibite .showR .table {
    padding: 2px;
    border: 1px solid #D6D2CE;
    height: calc(100% - 136px);
    overflow-y: scroll;
}
.exhibite .showR table {
    width: 100%;
    border-color: #D6D2CE;
    font-size: 16px;
    background-color: #fff;
}
.exhibite .showR table td {
    padding-left: 5px;
}
.exhibite .showR table tr {
    background-color: transparent;
    transition: .35s;
}
.exhibite .showR table tr:hover {
    background-color: #d9ecff;
}
.exhibite .showR table tr:first-child:hover {
    background-color: transparent;
}
.exhibite .showR .overview {
    border: 1px solid #D6D2CE;
    margin: 2px 0;
    padding: 2px;
    height: 26px;
}
.exhibite .showR .overview .over-inp {
    float: right;
}
.exhibite .showR .enterView {
    border: 1px solid #D6D2CE;
    overflow-y: scroll;
    height: 110px;
}

.exhibite .showL .inp-box {
    margin: 10px 2px;
    padding: 10px;
    border: 1px solid #D6D2CE;
    position: relative;
}
.exhibite .showL .inp-box p {
    color: #333;
    position: absolute;
    top: -10px;
    left: 5px;
    background-color: #efebe7;
}
.exhibite .showL .inp-box > div {
    margin: 0 3px 10px;
}
.exhibite .showL .timeInp {
    width: 140px;
    height: 25px;
}
.exhibite .showL .inp-box select {
    width: 180px;
    border: 1px solid #D6D2CE;
    background-color: #fff;
    height: 25px;
}