section .sec .sec-selG,
section .sec .sec-addG {
    float: left;
}
section .sec .sec-selG {
    padding: 3px;
    width: 24%;
    height: 100%;
    border: 1px solid #D6D2CE;
    border-radius: 4px;
}
section .sec .sec-selG p {
    color: #333;
    text-align: center;
}
section .sec-selG .sec-selG-container {
    height: calc(100% - 16px);
    border-radius: 4px;
    border: 1px solid #D6D2CE;
    overflow: scroll;
}
section .sec-selG-container li {
    padding: 2px 2px 2px 20px;
    margin-left: 5px;
}
section .sec-selG-container li a {
    color: #333;
}

section .sec .sec-addG {
    padding: 3px;
    width: 76%;
    height: 100%;
}
section .sec-addG .tabs {
    width: 100%;
    display: inline-block;
    background-color: #D6D2CE;
    border: 1px solid #D6D2CE;
    border-bottom: none;
}
section .sec-addG .tabs span  {
    padding: 0 3px;
    cursor: pointer;
}
section .sec-addG .tabs span.active {
    height: 22px;
    background-color: #efebe7;
    display: inline-block;
}
section .sec-addG .content {
    width: 100%;
    border: 1px solid #D6D2CE;
    height: calc(100% - 21px);
    border-top: 1px solid transparent;
}
section .sec-addG .content > .sign {
    display: none;
    height: 100%;
}
section .sec-addG .content > .sign.active {
    display: block;
}
section .sign .inp-box {
    margin: 1% 12px;
}
section .sign textarea {
    border: 1px solid #D6D2CE;
    outline: none;
}
section .sign input[type="text"] {
    margin-top: 8px;
    padding: 4px;
    display: block;
    width: 50%;
    height: 25px;
    min-width: 300px;
}
section .sign input[type="radio"] {
    display: inline;
}
section .sign textarea {
    margin-top: 8px;
    padding: 4px;
    width: 100%;
    resize:none;
}
section .sign.query-content {
    padding: 4px;
}
section .sign .query-box {
    padding: 8px;
    border: 1px solid #D6D2CE;
}
section .sign .query-box input {
    padding: 2px;
}
section .sign .table {
    margin-top: 2px;
    height: calc(100% - 120px);
}

section .mask .mask-container {
    width: 35%;
    height: 25%;
    min-width: 500px;
    min-height: 120px;
}
