*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.none{
    display: none;
}
.aaaa{
    cursor: pointer;
}
.pointParameter{
    width: 100;
    height: 100%;
}
.pointParameter .pointParameter_left{
    height: 95%;
    width: 40%;
    display: inline-block;
}
.pointParameter .pointParameter_left .pointParameter_left_content{
    height:90%;
    overflow-y: scroll;
}
.pointParameter .pointParameter_left .pointParameter_left_content>div{
    width: 15px;
    height: 15px;
    line-height: 12px;
    text-align: center;
    border: 1px solid #868686;
    display: inline-block;
    cursor: pointer;
}
.pointParameter .pointParameter_left .pointParameter_left_content p{
    display: inline-block;
    color: black;
}
.pointParameter .pointParameter_left .pointParameter_left_content ul li>div{
    width: 15px;
    height: 15px;
    line-height: 12px;
    text-align: center;
    border: 1px solid #868686;
    display: inline-block;
}
.pointParameter .pointParameter_left .pointParameter_left_content ul{
    margin-left: 15px;
}
.pointParameter .pointParameter_left .pointParameter_left_content ul li>p{
    display: inline-block;
    color: black;
}

.pointParameter .pointParameter_right{
    width: 55%;
    display: inline-block;
    vertical-align: top;
    padding:20px 20px 135px 20px;
    border: 1px solid #868686;
}
.pointParameter .pointParameter_right .parameterConfiguration{
    border: 1px solid #868686;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    margin-bottom:30px; 
}
.pointParameter .pointParameter_right .parameterConfiguration>p{
    position:absolute;
    top: -10px;
    left: 6px;
    background: #efebe7;
    color: black;
}
.pointParameter .pointParameter_right .parameterConfiguration div{
    margin-bottom: 10px;
}
.pointParameter .pointParameter_right .parameterConfiguration .inputPointNormality select{
margin-right: 30px;
}

.pointParameter .pointParameter_right .inputPointLinkageConfiguration{
    margin: 20px 0;
    border: 1px solid #868686;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration>p{
    position: absolute;
    top: -10px;
    left: 6px;
    color: black;
    background: #efebe7;
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration>div>label{
    margin-right:10px;
  
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration>div>select{
    width: 60%;
    margin-bottom: 10px;
    padding: 2px 0
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration p{
    color: black;
}

.pointParameter .pointParameter_right .inputPointLinkageConfiguration .inlineDynamicPointAssignment{
    margin: 20px 0;
    border: 1px solid #868686;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration .inlineDynamicPointAssignment>p{
    position: absolute;
    top: -10px;
    left: 6px;
    color: black;
    background: #efebe7;
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration .inlineDynamicPointAssignment select{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 2px 0;
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration .inlineDynamicPointAssignment>div{
    display: inline-block;
    /* width: 45%; */
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration .inlineDynamicPointAssignment .linkageObject{
    width: 70%;
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration .inlineDynamicPointAssignment .actionMode{
    width: 28%;
}
.pointParameter .pointParameter_right .inputPointLinkageConfiguration .inlineDynamicPointAssignment>div>p{
    margin-bottom: 3px;
}
.pointParameter .pointParameter_bottom{
    text-align: right;
    margin-top: -5px;

}