.alarmParameters {
    width: 100%;
    height: calc(100% - 50px);
}

.alarmParameters_left,
.alarmParameters_right {
    display: inline-block;
    width: 450px;
    height: 100%;
    vertical-align: top;
    overflow: scroll;
    border: 1px solid #D6D2CE;
}

/* right content */
.alarmParameters_right {
    width: calc(100% - 454px);
}

.mask-container {
    width: 500px;
}

.mask-container .box,
.mask-container .box .nob {
    margin: 10px auto;
    padding: 16px 2px 10px;
    border: 1px solid #D6D2CE;
    width: 100%;
    position: relative;
}

.mask-container .box>p,
.mask-container .box .nob>p {
    position: absolute;
    color: black;
    top: -10px;
    left: 5px;
    background: #EFEBE7;
}

.mask-container .box div {
    margin: 5px 0;
}

.mask-container .box div input,
.mask-container .box div select {
    height: 25px;
    width: 150px;
    background-color: #fff;
    border: 1px solid #D6D2CE;
}

.mask-container .box div label {
    width: 60px;
    display: inline-block;
    text-align: right;
    margin-left: 5px;
}
.mask-container .box::after {
    content: '';
    clear: both;
    display: block;
}
.mask-container .box .nob {
    float: left;
    width: calc(33.3% - 4px);
    margin: 0 2px;
}
.mask-container .box .nob input {
    width: auto;
}