*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none{
    display: none;
}
.clear{
    clear: both;
}
.alarmParameters{
    width: 100%;
    height: 100%;
}
.alarmParameters_left{
    display: inline-block;
    width: 45%;
    height: 94%;
    vertical-align: top;
    overflow-y: scroll;
    border: 1px solid #868686;
}
.alarmParameters_left table{
width: 100%;
}
.alarmParameters_left table tr{
width: 100%
}
.alarmParameters_left table tr th:nth-of-type(1){
    width: 25%;
    text-align: left;
}
.alarmParameters_left table tr th:nth-of-type(2){
    width: 60%;
    text-align: left;
}
.alarmParameters_left table tr th:nth-of-type(3){
    width: 15%;
    text-align: right;
}
.alarmParameters_left table tr td:nth-of-type(1){
    text-align: left;
}
.alarmParameters_left table tr td:nth-of-type(2){
    text-align: left;
}
.alarmParameters_left table tr td:nth-of-type(3){
    text-align: right;
}


/* right content */
.alarmParameters_right{
    display: inline-block;
    width: 54%;
    height: 94%;
    overflow-y: scroll;
    background: white;
}
.alarmParameters_right table{
    width: 100%;
}
.alarmParameters_right table tr:nth-of-type(3) td{
    background: white !important;
}
.alarmParameters_right table tr td:nth-of-type(7),td:nth-of-type(8){
    background: #a6caf0;
}
.alarmParameters_right table tr td:nth-of-type(7),td:nth-of-type(9){
    background: #00ffff;
}
.alarmParameters_right table td{
    text-align: center;
}

/* bottom content */
.alarmParameters_bottom{
    width: 100%;
}
.alarmParameters_bottom .btn{
   width: 20%;
   float: left;
}

.alarmParameters_bottom .btn button{
    padding: 3px 3px 5px 32px;
    margin-right: 10px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    outline: none;
    border: 1px solid #D6D2CE;
}
.alarmParameters_bottom .subBtn{
   margin-top: 0 !important;
    float: right;
}

