*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.none{
    display: none;
}
.temporaryTimeGroup{
    width: 98%;
    /* border: 1px solid #868686; */
    border-radius: 5px;
    margin: 0 auto;
    padding: 0 5px;
}
.temporaryTimeGroup ul {
    margin-left: 5px;
}
.temporaryTimeGroup ul li{
display: inline-block;
padding: 2px 3px;
border: 1px solid #868686;
}
.temporaryTimeGroup .inner .temporaryDatePlanningSection{
    border: 1px solid #868686;
    /* padding: 20px 10px; */
}
.temporaryTimeGroup .inner .temporaryDatePlanningSection .temporaryDatePlanningSection_content{
    width: 100%;
    border: 1px solid #C1C4C7;
    padding: 20px 0;
}
.temporaryTimeGroup .inner .temporaryDatePlanningSection .temporaryDatePlanningSection_content .temporaryDatePlanningSection_content_left{
    border: 1px solid #C1C4C7;
    width: 45%;
    position: relative;
    padding: 15px 5px;
    font-size: 18px;
    display: inline-block;
    margin: 0 30px 0 20px;
}
.temporaryTimeGroup .inner .temporaryDatePlanningSection .temporaryDatePlanningSection_content .temporaryDatePlanningSection_content_left p{
    color: black;
    position: absolute;
    top: -8px;
    left: 4px;
    background: #efebe7;
}
.temporaryTimeGroup .inner .temporaryDatePlanningSection .temporaryDatePlanningSection_content .temporaryDatePlanningSection_content_left ul li{
list-style: none;
display: block;
border: none;
margin-bottom: 15px;
}

.temporaryTimeGroup .inner .temporaryDatePlanningSection .temporaryDatePlanningSection_content .temporaryDatePlanningSection_content_right{
    border: 1px solid #C1C4C7;
    width: 45%;
    position: relative;
    padding: 15px 5px;
    font-size: 18px;
    display: inline-block;
}
.temporaryTimeGroup .inner .temporaryDatePlanningSection .temporaryDatePlanningSection_content .temporaryDatePlanningSection_content_right p{
    color: black;
    position: absolute;
    top: -8px;
    left: 4px;
    background: #efebe7;
}
.temporaryTimeGroup .inner .temporaryDatePlanningSection .temporaryDatePlanningSection_content .temporaryDatePlanningSection_content_right ul li{
list-style: none;
display: block;
border: none;
margin-bottom: 15px;
color: #757575;
}
.temporaryTimeGroup .inner .temporaryDatePlanningSection .btn{
    text-align: right;
    padding: 5px 0;
    margin-right: 5px;
}
.temporaryTimeGroup .inner .temporaryDatePlanningSection .btn button{
    padding: 3px 13px;
}

.temporaryTimeGroup .inner .holidayTimeGroup{
    
    width: 100%;
    text-align: right;

}
.temporaryTimeGroup .inner .holidayTimeGroup .inne{
    border: 1px solid #868686;
    text-align: left;
}
.temporaryTimeGroup .inner .holidayTimeGroup .inne .holidayTimeGroup_select{
    width: 80%;
    margin: 20px auto;

}
.temporaryTimeGroup .inner .holidayTimeGroup .inne .holidayTimeGroup_select select{
    width: 15%;

}
.temporaryTimeGroup .inner .holidayTimeGroup .inne table{
    width: 60%;
    margin: 20px auto;
}
.temporaryTimeGroup .inner .holidayTimeGroup .inne .holidayTimeGroup_input{
    width: 60%;
    padding: 2px 0;
    margin: 20px auto;
}
.temporaryTimeGroup .inner .holidayTimeGroup .inne .holidayTimeGroup_input input{
    width: 100%;
}
.temporaryTimeGroup .inner .holidayTimeGroup button{
  padding: 2px 4px;
  margin: 5px 0;
}