.alarmParameters {
    width: 100%;
    height: calc(100% - 50px);
}

.alarmParameters_left,
.alarmParameters_right {
    display: inline-block;
    width: 450px;
    height: 100%;
    vertical-align: top;
    overflow-y: scroll;
    border: 1px solid #D6D2CE;
}


/* right content */
.alarmParameters_right {
    width: calc(100% - 454px);
}


/* 模态框 */
.mask .mask-container {
    width: 500px;
}

.mask .mask-container .box {
    padding: 10px 2px;
    border: 1px solid #D6D2CE;
    position: relative;
    margin: 10px 0;
}

.mask .mask-container .box p {
    position: absolute;
    top: -10px;
    left: 5px;
    color: #333;
    background-color: #efebe7;
}

.mask .mask-container .box div {
    margin: 8px 0;
}

.mask .mask-container .box label {
    width: 70px;
    text-align: right;
    margin-right: 5px;
    display: inline-block;
}

.mask .mask-container .box input,
.mask .mask-container .box select {
    width: 50%;
    background-color: #fff;
    border: 1px solid #D6D2CE;
    height: 25px;
}