*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none{
    display: none;
}
.clear{
    clear: both;
}
.alarmParameters{
    width: 100%;
    height: 100%;
}
.alarmParameters_left{
    display: inline-block;
    width: 45%;
    height: 94%;
    vertical-align: top;
    overflow-y: scroll;
    border: 1px solid #868686;
}
.alarmParameters_left table{
width: 100%;
}
.alarmParameters_left table tr{
width: 100%
}
.alarmParameters_left table tr th:nth-of-type(1){
    width: 25%;
    text-align: left;
}
.alarmParameters_left table tr th:nth-of-type(2){
    width: 60%;
    text-align: left;
}
.alarmParameters_left table tr th:nth-of-type(3){
    width: 15%;
    text-align: right;
}
.alarmParameters_left table tr td:nth-of-type(1){
    text-align: left;
}
.alarmParameters_left table tr td:nth-of-type(2){
    text-align: left;
}
.alarmParameters_left table tr td:nth-of-type(3){
    text-align: right;
}


/* right content */
.alarmParameters_right{
    display: inline-block;
    width: 54%;
    height: 94%;
    overflow-y: scroll;
}
.alarmParameters_right table{
    text-align: center;
}
.alarmParameters_right table tbody tr:nth-of-type(1) td{
    text-align: center !important;
}
.alarmParameters_right table tbody tr td:nth-of-type(1){
    text-align: left;
}
.alarmParameters_right table tbody tr td:nth-of-type(2){
    text-align: right;
}



/* bottom content */
.alarmParameters_bottom{
    width: 100%;
}
.alarmParameters_bottom .btn{
   /* display: inline-block; */
   width: 20%;
   float: left;
}

.alarmParameters_bottom .btn button{
    padding: 3px 3px 5px 32px;
    margin-right: 10px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    outline: none;
    border: 1px solid #D6D2CE;
}
.alarmParameters_bottom .subBtn{
   margin-top: 0 !important;
    float: right;
}



/* 模态框 */
.mask .mask-container{
    width: 50%;
}
.mask .mask-container .box {
    border: 1px solid #868686;
    position: relative;
    padding: 8px 0;
    margin: 10px 0;
}
.mask .mask-container .box>p{
    position: absolute;
    top: -8px;
    left: 8px;
    background: black;
}
.mask .mask-container .box div{
    display: inline-block;
    vertical-align: left;
    margin: 8px;
}
.mask .mask-container .box div:nth-of-type(1) label{
    margin-right: 13px;
}

.mask .mask-container .pox {
    border: 1px solid #868686;
    position: relative;
    padding: 8px;
    margin: 15px 0;
}
.mask .mask-container .pox>p{
    position: absolute;
    top: -8px;
    left: 8px;
    background: black;
}
.mask .mask-container .pox div{
    display: inline-block;
    vertical-align: left;
    margin: 8px 0;
    width: 48%;
}
.mask .mask-container .pox div select{
    width: 45%;
}
.mask .mask-container .pox div:nth-of-type(3) label{
    margin-right: 13px;
}
.mask .mask-container .pox div:nth-of-type(5) label{
    margin-right: 13px;
}